.desktop-only { display: block; }
.mobile-only { display: none; }
.tablet-only { display: none; }
.tablet-plus { display: none; }

@media (max-width: 1180px) {
    .desktop-only { display: none; }
    .tablet-only { display: flex; }
}

@media (min-width: 750px) {
    .tablet-plus { display: block; }
}

@media (max-width: 750px) {
    .desktop-only { display: none; }
    .mobile-only { display: flex; }
    .m-z-3 { z-index: 3; }
}