.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    z-index: 2000;
    cursor: pointer;
    padding: 0 8rem;
    @include transition(.3s ease-out);
    &:hover {
        @include scale(1.5, 1.5);
    }
    &:after {
        font-size: 2rem;
    }
}
.swiper-button-prev {
    left: 0;
    &:after {
        content: '<';
        display: block;
    }
    @include mobileOnly {
        padding: 0 2rem;
    }
}
.swiper-button-next {
    right: 0;
    &:after {
        content: '>';
        display: block;
    }
    @include mobileOnly {
        padding: 0 2rem;
    }
}

.swiper-slide {
    cursor: grab;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    &:focus {
        cursor: grabbing;
    }
}

.swiper-container {
    position: relative;
    counter-reset: my-pagination-counter;
}

.swiper-pagination {
    position: absolute;
    bottom: 2rem;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    gap: 1rem;
    .swiper-pagination-bullet {
        height: 0.8rem;
        width: 0.8rem;
        cursor: pointer;
        border-radius: 1rem;
        background: var(--secondary);
        border: 0.1rem solid transparent;
        @include transition(.3s ease-out);
        &:hover {
            border: 0.1rem solid var(--primary);
            @include scale(1.5, 1.5);
        }
        &-active {
            background: var(--primary);
            border: 0.1rem solid var(--secondary);
            &:hover {
                border: 0.1rem solid var(--secondary);
            }
        }
    }
}

.yarl__slide_title {
    font-size: 1.4rem!important;
    font-family: 'Akkurat'!important;
}

.yarl__slide_title_container {
    bottom: 0!important;
    top: unset!important;
    text-align: center;
}

.pointer {
    cursor: pointer;
}